<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="<%= config.description %>">
  <meta name="keywords" content="<%= config.keywords %>">
  <% if (config.favicon){ %>
    <link rel="icon" href="<%- config.favicon %>">
  <% } %>
  <%
    var title = page.title;
    if (is_archive()){
      title = '归档';
    }
    if (is_category()){
      title = page.category
    }
  %>  
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <%- css('style') %>
  <%- css('lib/jquery.fancybox.min.css') %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="http://tajs.qq.com/stats?sId=65546304" charset="UTF-8"></script>
</head>
